// modal
#voiceOfBlockchain.modal.about-modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .w3header
            img.img-responsive(src='/images/cbp.png', alt='Voice Of Blockchain')
            br
            br
            .dyk  
              h4
                | The Voice of Blockchain
              p 
                | Chicago's Premier Blockchain Conference
        .close_button
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            i.far.fa-times-circle(aria-hidden='true')                
      .modal-body
        .agileits-w3layouts-info
          h4
            | Thanks for stopping by!
          p  
            | The Blockchain Institute is proud to sponsor the Voice of Blockchain. The VoB event was held at Navy Pier in Chicago, and attracted a wide range of speakers from across the cryptocurrency and blockchain industry. The event was split into four tracks innovation, social good, fintech, and buidl so attendees could focus on what they value. Our own Hannah Rosenberg spoke on the 'Solving Scalability' panel. 
            | In addition to offering free educational resources to attendees, our team provided a media booth and interviewed key influencers in the space to help them share their perspectives. 
            a(href="https://chicagoblockchainproject.com/voice-of-blockchain/")
              |  See the event online.              
          br
          .event-image-container  
            img.img-inline(src='/images/events/voiceOfBlockchain/VOB_6D-1225-1-864x576.jpg', alt='VoB')
            p.caption Our own Jeremy Cogan interviewed Jimmy Song, a leading Bitcoin expert and decentralization evangelist. 

          .event-image-container              
            img.img-inline(src='/images/events/voiceOfBlockchain/VOB_6D-1390-864x576.jpg', alt='VoB')
            p.caption Director Hannah Rosenberg speaks with Enigma lead Tor Bair and Cryptoscam Podcasy creator Tone Vays about potential educational collaboration. 

          .event-image-container            
            img.img-inline(src='/images/events/voiceOfBlockchain/VOB_6D-1625-864x576.jpg', alt='VoB')   
            p.caption The Institute Team handing out t-shirts and educational material.    

          p  
            | Visit out Media Partner Blockchain.wtf for more information:   
            a(href="https://blockchain.wtf/wtf-productions/voice-of-blockchain/")
              | Full Event Coverage Here              
          br          

#pizzaDay.modal.about-modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .w3header
            img.img-responsive(src='/images/bob_meetup_pizza_day.jpeg', alt='Pizza Day')
            br
            br
            .dyk
              h4
                | Pizza Day
              p 
                | Every year on May 22, Bitcoin supporters around the world celebrate the first transaction ever conducted on the blockchain, which was for a slice of pizza.
        .close_button
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            i.far.fa-times-circle(aria-hidden='true')                
      .modal-body
        .agileits-w3layouts-info
          h4
            | Collaboration with BOB Chicago  
          p  
            | The Blockchain Institute sponsored the Bitcoin and Open Blockchain's Pizza Day event in May 2018 with a record turnout which received mainstream media attention. 
            a(href="https://blockchain.wtf/2018/05/blog/bitcoin-pizza-day-celebrated-by-chicago-community/")
              | See the event online.  
          br  
          .event-image-container  
            img.img-inline(src='/images/events/pizzaDay/PizzaDay.jpg', alt='Pizza Day')
            p.caption Director Hannah Rosenberg explains Bitcoin and Pizza day live on local TV!
          br            
          p  
            | Visit out Media Partner Blockchain.wtf for more information:   
            a(href="https://blockchain.wtf/2018/05/blog/bitcoin-pizza-day-celebrated-by-chicago-community/")
              | Full Event Coverage Here              
          br            
#girlCon.modal.about-modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .w3header
            img.img-responsive(src='/images/girlcon.png', alt='Digital Identity')
            br
            br
            .dyk
              h4
                | 
              p 
                | In support of young women in STEM.
        .close_button
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            i.far.fa-times-circle(aria-hidden='true')                
      .modal-body
        .agileits-w3layouts-info   
          h4
            | Blockchain Youth
          p  
            | A special focus of the Blockchain Institute has been to promote education among younger audiences who have the potential to be the next generation of software designers. 
          p 
            | GirlCon is an annual conference in Chicago dedicated to promoting STEM education among young women. Our team helped to make blockchain education accessible to this group by offering educational talks and resources. 
            a(href="http://girlcon.io/")
              | See the event online.              
          br  
          .event-image-container  
            img.img-inline(src='/images/events/girlCon/20180616_fjs_GirlCon_193-863x576.jpg', alt='Pizza Day')
            p.caption Director Hannah Rosenberg speaking on the Women's Youth Empowerment Panel.

          .event-image-container              
            img.img-inline(src='/images/events/girlCon/20180616_fjs_GirlCon_013-688x459.jpg', alt='Pizza Day')
            p.caption T-Shirts and Educational Material for all!

          p  
            | Visit out Media Partner Blockchain.wtf for more information:   
            a(href="https://blockchain.wtf/2018/06/blog/introducing-blockchain-institute-chicago-girlcon/")
              | Full Event Coverage Here              
          br  
#southsideBlockchain.modal.about-modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .w3header
            img.img-responsive(src='/images/events/southsideBlockchain/logo.jpeg', alt='SouthsideBlockchainMeetup')
            br
            br
            .dyk
              h4
                | Event Sponsorship
        .close_button
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            i.far.fa-times-circle(aria-hidden='true')                
      .modal-body
        .agileits-w3layouts-info   
          h4
            | The Chicago Southside Meetup
          p  
            | On October 13th the Blockchain Institute was proud to sponsor the South Side Blockchain Meetup. Eager programmers of all skill levels participated in the event. The topic focused on the Loom Network and their gamified Solidity tutorial, Crypto Zombies. 
          p 
            | Crypto Zombies is a web app that creates a guided path for users to learn Solidity, the primary programming language used on the Ethereum network. LaTaevia Berry, cofounder of South Side Blockchain, led the workshop.  
            a(href="https://www.meetup.com/South-Side-Blockchain/")
              | See the meetup group here.              
          br  
          .event-image-container  
            img.img-inline(src='/images/events/southsideBlockchain/IMG_0158.jpg', alt='CryptoZombiesDemo')
            p.caption Crypto Zombies Demo in Action!
          br                     
#ibc.modal.about-modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .w3header
            img.img-responsive(src='/images/ibcongress.png', alt='International Blockchain Congress')
            br
            br

        .close_button
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            i.far.fa-times-circle(aria-hidden='true')                
      .modal-body
        .agileits-w3layouts-info   
          h4
            | Media Coverage
          p  
            | One key way that the Institute promotes adoption is by content creation and distribution. Our delegates will be providing educational resources as well as recording the event, so stop by our booth and get in on the action! 
          p  
            | The International Blockchain Congress is held annually in Chicago to promote the adoption of blockchain and distributed systems. This year's focus on smart contracts attracted leading experts from Western Europe, Eastern Europe, Southeast Asia, Western Asia, Australia, and North America. 
            a(href="https://www.ibcongress.io/ibc")
              | See the event online.            
          br  
          .event-image-container              
            img.img-inline(src='/images/events/internationalBlockchainCongress/20180817_fjs_bcbuild_041-863x576.jpg', alt='IBC')
            p.caption The Blockchain Institute Team 
          .event-image-container              
            img.img-inline(src='/images/events/internationalBlockchainCongress/20180817_fjs_bcbuild_040-863x576.jpg', alt='IBC')
            p.caption Operations Manager Jordan Ruiz and Jeremy Cogan deep in conversation
                        

          p  
            | Visit out Media Partner Blockchain.wtf for more information:   
            a(href="https://blockchain.wtf/wtf-productions/international-blockchain-congress/")
              | Full Event Coverage Here              
          br           
#bitcoinStandard.modal.about-modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .w3header
            img.img-responsive(src='/images/bitcoinStandard.jpeg', alt='Digital Identity')
            br
            br
        .close_button
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            i.far.fa-times-circle(aria-hidden='true')                
      .modal-body
        .agileits-w3layouts-info   
          h4
            | Social Empowerment
          p  
            | One of the ways the institute has helped build the Chicago community is by attracting experts to speak at local events, which ensures that Chicago's blockchain enthusiasts can stay up to date and involved in this rapidly evolving industry. 
          p
            | We teamed up with the Bitcoin and Open Blockchain Meetup once again to help promote the new book 'The Bitcoin Standard' and share some educational resources with the community. 

            a(href="https://www.meetup.com/Bitcoin-Open-Blockchain-Community-Chicago/events/253210845/")
              | See the event online.
          br  
          .event-image-container              
            img.img-inline(src='/images/events/bitcoinStandard/IMG_8018.jpg', alt='bitcoinStandard')
            p.caption A packed house for the book signing and panel event

          p  
            | Visit out Media Partner Blockchain.wtf for more information:   
            a(href="https://blockchain.wtf/2018/05/blog/bitcoin-pizza-day-celebrated-by-chicago-community/")
              | Full Event Coverage Here              
          br  
#loyaltyLive.modal.about-modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .w3header
            img.img-responsive(src='/images/loyaltyLive.jpeg', alt='Digital Identity')
            br
            br
        .close_button
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            i.far.fa-times-circle(aria-hidden='true')                
      .modal-body
        .agileits-w3layouts-info   
          h4
            | Social Empowerment
          p  
            | One of the ways the institute has helped build the Chicago community is by attracting experts to speak at local events, which ensures that Chicago's blockchain enthusiasts can stay up to date and involved in this rapidly evolving industry. 
          p
            | We teamed up with the Bitcoin and Open Blockchain Meetup once again to help promote the new book 'The Bitcoin Standard' and share some educational resources with the community. 

            a(href="https://www.meetup.com/Bitcoin-Open-Blockchain-Community-Chicago/events/253210845/")
              | See the event online.
          br  
          .event-image-container              
            img.img-inline(src='/images/events/bitcoinStandard/IMG_8018.jpg', alt='bitcoinStandard')
            p.caption A packed house for the book signing and panel event

          p  
            | Visit out Media Partner Blockchain.wtf for more information:   
            a(href="https://blockchain.wtf/2018/05/blog/bitcoin-pizza-day-celebrated-by-chicago-community/")
              | Full Event Coverage Here              
          br                                            
          