// why choose us
section.special-w3l
  .container
    h3.heading-agileinfo.why_us
      | Downloads
    br
    span.heading-agileinfo-span.why_us
      | Part of our mission at the Institute is to help others teach. In order to accomplish this goal we've compiled the following resources to help explain some of the details of this fast-evolving space.  
    br
    br
    br
    .clear
    .row.wthree-services-bottom-grids
      .col-lg-6
          .row.services-right-bottom-bottom
            .col-sm-2.services-bottom-icon
              i.fas.fa-file.teal
            .col-sm-10.services-bottom-info
              h5 Handouts
              ul 
                li
                  a(href="/download/blockchain-101.pdf") Blockchain 101
                li
                  a(href="/download/educational-pamphlet.pdf") Educational Pamphlet
          .clear
      .col-lg-6
          .row.services-right-bottom-bottom
            .col-sm-2.services-bottom-icon
              i.fas.fa-images.teal
            .col-sm-10.services-bottom-info.text-w3l
              h5 Infographics
              ul 
                li
                  a(href="/download/what_is_blockchain.png") What is a Blockchain?
                li
                  a(href="/download/industry_impacts.png") Blockchain Industry Impacts
                li
                  a(href="/download/what_is_an_ico.png") What is an ICO?
                li
                  a(href="/download/asymmetric_key_encryption.png") Asymmetric Key Encryption
          .clear
    br


// //why choose us