section.partners
  .container
    .row.ab-agile
      .col-md-12.aboutleft
        .partnerLogo
          a(href='https://www.meetup.com/Bitcoin-Open-Blockchain-Community-Chicago/'  target="_blank")          
            img.img-responsive.partner(src='/images/bob-logo.png', alt='')
        .partnerLogo
          a(href='http://velascommerce.com/'  target="_blank")          
            img.img-responsive.partner(src='/images/velas-commerce-logo.png', alt='')
        .partnerLogo
          a(href='https://www.gordonlawltd.com/' target="_blank")          
            img.img-responsive.partner(src='/images/gordon-law-logo.png', alt='')
        //- .partnerLogo
          //- img.img-responsive(src='/images/urban_array_logo.jpg', alt='')
        .partnerLogo
          a(href='https://coinflashapp.com/' target="_blank")
            img.img-responsive.partner(src='/images/coinflash_logo.png', alt='')
    .clear

  // //wthree-mid      