extends /layouts/event

block title
    title
      | Events | Blockchain Institute

block description
  meta(name='description', content='Information about distributed ledger technology and how it will impact your life.')

block content
  - var nav = "events";
  - var bannerMsg = "Events";
  - var bannerFocus = "";
  - var bannerImage = "/images/events-banner.png";
  - var home = 'nothome';
  - var sectionImage = "/images/web3_5.jpeg";

  include /includes/header

  - var name1 = "Loyalty Live";
  - var title1 = "";
  - var description1 = "Blockchain meets consumer marketing.";
  - var date1 = "October 16";  
  - var image1 = "/images/events/loyaltyLive/logo.png";  
  - var link1 = "#loyaltyLive";

  - var name2 = "Southside Chicago Meetup";
  - var title2 = "";
  - var description2 = "The Southside Meetup provides blockchain education and resources for enthusiasts in Cook County and the surrounding area.";
  - var date2 = "October 15";  
  - var image2 = "/images/events/southsideBlockchain/logo.jpeg";  
  - var link2 = "#southsideBlockchain";

  - var name3 = "The Voice of Blockchain";
  - var title3 = "";
  - var description3 = "The Voice of Blockchain is Chicago's premier blockchain education conference.";
  - var date3 = "August 23";  
  - var image3 = "/images/cbp.png";  
  - var link3 = "#voiceOfBlockchain";

  - var name4 = "International Blockchain Congress";
  - var title4 = "";
  - var description4 = "";
  - var date4 = "August 17";  
  - var image4 = "/images/ibc_logo.jpg";
  - var link4 = "#ibc";  

  - var name5 = "Bitcoin Standard Book Signing";
  - var title5 = "";
  - var description5 = "";
  - var date5 = "August 11";  
  - var image5 = "/images/bitcoinStandard.jpeg";  
  - var link5 = "#bitcoinStandard";

  - var name6 = "Girlcon";
  - var title6 = "";
  - var description6 = "The Annual Conference for STEM Education for Young Women in Chicago";
  - var date6 = "June 16";  
  - var image6 = "/images/girlcon.png";
  - var link6 = "#girlCon";  

  - var name7 = "Pizza Day";
  - var title7 = "";
  - var description7 = "The annual celebration of the first ever Bitcoin purchase.";
  - var date7 = "May 22";  
  - var image7 = "/images/bob_meetup_pizza_day.jpeg";  
  - var link7 = "#pizzaDay";  

  include /includes/events/home/events
  //- include /includes/tiles
  








